:root {
  --primaryLightColor: #d4e6a5;
  --primaryColor: #476a2e;
  --primaryDarkColor: #c02c03;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --mainBackground: #f1f5f8;
  --mainOverlay: rgba(35, 10, 36, 0.4);
  --mainBlack: #222;
  --mainGrey: #ececec;
  --darkGrey: #afafaf;
  --mainRed: #bd0303;
  --mainTransition: all 0.3s linear;
  --mainSpacing: 0.3rem;
  --lightShadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
  --darkShadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);
  --mainBorderRadius: 0.25rem;
  --smallWidth: 85vw;
  --maxWidth: 40rem;
  --fullWidth: 1170px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  color: var(--mainBlack);
  background: var(--mainBackground);
  line-height: 1.4;
  font-size: 1rem;
  font-weight: 300;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--slantedFont);
  margin-bottom: 1.25rem;
  letter-spacing: var(--mainSpacing);
}
p {
  margin-bottom: 1.25rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--mainBlack);
}

.homepage {
  height: 90px;
  line-height: 90px;
  text-align: center;
  border: 3px dashed #1c87c9;
}

li {
  display: inline;
  padding: 10px;
  border-radius: 2px;
  text-decoration: none;
  text-transform: uppercase;
}

.btn-submit {
  width: 20%;
  height: 40px;
  margin: 10px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #573b8a;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}

.btn-submit:hover {
  background: #6d44b8;
}
.input {
  width: 30%;
  height: 30px;
  background: #e0dede;
  justify-content: center;
  display: flex;
  margin: 10px auto;
  padding: 2px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.label {
  color: black;
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
  margin: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.container-title {
  color: black;
  font-size: 1.5rem;
  justify-content: center;
  display: flex;
  margin: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.btn-delete {
  width: 20%;
  height: 40px;
  margin: 5px auto;
  justify-content: center;
  display: block;
  color: #fff;
  background: #ff0000;
  font-size: 1em;
  font-weight: bold;
  margin-top: 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  transition: 0.2s ease-in;
  cursor: pointer;
}
.btn-both {
  display: inline;
}
.post-pending {
  font-size: 30px;
}

.users {
  font-size: 30px;
}
